.auth-container {
  min-height: 100vh;
  background: #0b0b0b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  background: #1a1a1a;
  padding: 35px;
  border-radius: 12px;
  width: 360px;
  color: white;
  box-shadow: 0 4px 15px rgba(0,0,0,0.45);
}

.auth-card h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 26px;
}

.auth-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  background: #2a2a2a;
  border: none;
  border-radius: 8px;
  color: white;
}

.auth-card button {
  width: 100%;
  padding: 12px;
  background: #ff5c5c;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.auth-card button:hover {
  background: #e44949;
}

.msg {
  margin-top: 12px;
  text-align: center;
  color: #ff7777;
}
